<div>
  <ds-table width="100%">
    <ds-table-header>
      <ds-table-row>
        <ds-table-header-col column-key="index" width="40" class="pr-0">
          <ds-checkbox
            name="all"
            [checked]="false"
            [indeterminate]="false"
          ></ds-checkbox>
        </ds-table-header-col>
        <ds-table-header-col column-key="empty" width="5" flexible="true">
        </ds-table-header-col>
        <ds-table-header-col column-key="id" width="10" flexible="true">
          Id
        </ds-table-header-col>
        <ds-table-header-col column-key="itemName" width="25" flexible="true">
          Item name
        </ds-table-header-col>
        <ds-table-header-col column-key="status" width="10" flexible="true">
          Status
        </ds-table-header-col>
        <ds-table-header-col column-key="briefer" width="10" flexible="true">
          Briefer
        </ds-table-header-col>
        <ds-table-header-col column-key="process" width="10" flexible="true">
          Process
        </ds-table-header-col>
        <ds-table-header-col column-key="category" width="10" flexible="true">
          Category
        </ds-table-header-col>
        <ds-table-header-col column-key="venue" width="10" flexible="true">
          Venue
        </ds-table-header-col>
        <ds-table-header-col column-key="deadline" width="10" flexible="true">
          Deadline
        </ds-table-header-col>
      </ds-table-row>
    </ds-table-header>

    <ds-table-body [loading]="false">
      <ds-table-row *ngFor="let item of items">
        <ds-table-cell column-key="index" class="pr-0">
          <ds-checkbox
            name="{{ item.id }}"
            value="{{ item.id }}"
            [checked]="item.checked"
          ></ds-checkbox>
        </ds-table-cell>

        <ds-table-cell column-key="empty">
          <p class="small"></p>
        </ds-table-cell>

        <ds-table-cell column-key="id">
          <p class="small">253305</p>
        </ds-table-cell>

        <ds-table-cell column-key="itemName">
          <p class="small">Entrance stadium map</p>
        </ds-table-cell>

        <ds-table-cell column-key="status">
          <p class="small">New item</p>
        </ds-table-cell>

        <ds-table-cell column-key="briefer">
          <p class="small">Mat Jones</p>
        </ds-table-cell>

        <ds-table-cell column-key="process">
          <p class="small">Brief</p>
        </ds-table-cell>

        <ds-table-cell column-key="category">
          <p class="small">Maps</p>
        </ds-table-cell>

        <ds-table-cell column-key="venue">
          <p class="small">Camp Nou</p>
        </ds-table-cell>

        <ds-table-cell column-key="deadline">
          <p class="small">05.10.2021</p>
        </ds-table-cell>
      </ds-table-row>
    </ds-table-body>
  </ds-table>
</div>
