<header>
  <div
    class="d-flex justify-content-between align-items-center bg-primary-0 py-4 px-16"
  >
    <div class="header-block d-flex align-items-center">
      <div class="logo-block justify-content-lg-start d-flex">
        <a class="header d-flex align-items-center" routerLink="/">
          <img src="assets/img/logo.png" alt="" />
          <span class="text-white">D-SIGN</span>
        </a>
      </div>
      <nav class="justify-content-between d-flex flex-grow-1 stroke">
        <a class="mr-4" routerLink="/items" routerLinkActive="active">Items</a>
        <a class="mr-4" routerLink="/templates" routerLinkActive="active"
          >Templates</a
        >
        <a class="mr-4" routerLink="/projects" routerLinkActive="active"
          >Projects</a
        >
        <div
          class="d-flex cursor-pointer"
          [matMenuTriggerFor]="appMenu"
          #matMenu="matMenuTrigger"
        >
          <span>Administration</span>
          <ds-icon
            [class.menu-open]="matMenu.menuOpen"
            name="navigation-triangle-down"
            color="neutral-0"
          ></ds-icon>
        </div>
        <mat-menu #appMenu="matMenu">
          <div class="mat-menu">
            <a
              class="p-12 pt-8 d-block"
              routerLink="/users"
              routerLinkActive="active"
              >Users</a
            >
            <a
              class="p-12 d-block"
              routerLink="/clubs"
              routerLinkActive="active"
              >Clubs</a
            >
            <a
              class="p-12 pb-8 d-block"
              routerLink="/venues"
              routerLinkActive="active"
              >Venues</a
            >
          </div>
        </mat-menu>
      </nav>
    </div>
    <div class="header-block d-flex justify-content-end">
      <div class="d-flex align-items-center">
        <ds-icon class="mr-24" name="action-edit" color="neutral-0"></ds-icon>
        <div
          class="d-flex cursor-pointer align-items-center"
          [matMenuTriggerFor]="userMenu"
          #userMatMenu="matMenuTrigger"
        >
          <ds-avatar
            class="mr-8"
            type="image"
            src="https://hips.hearstapps.com/esquireuk.cdnds.net/15/37/2048x2730/2048x2730-tom-hardy-esquire-may-cover-promo-11-jpg-4c8bc653.jpg?resize=480:*"
          ></ds-avatar>
          <span class="mr-28">Test User</span>
          <ds-icon
            [class.menu-open]="userMatMenu.menuOpen"
            class="mr-24"
            name="navigation-triangle-down"
            color="neutral-0"
          ></ds-icon>
        </div>
      </div>
      <mat-menu #userMenu="matMenu" xPosition="before">
        <div class="mat-menu">
          <span class="p-20">User actions</span>
        </div>
      </mat-menu>
    </div>
  </div>
  <ds-page-header
    [pageTitle]="routeUrl$ | async | urlFormatter | capitalize"
  ></ds-page-header>
</header>
