<ds-side-panel
  class="h-100 ds-side-panel"
  [heading]="heading"
  (onClose)="onSidePanelClose()"
  #sidepanel
>
  <div [ngSwitch]="sidePanelType" class="side-panel-body h-100">
    <app-user-edit
      *ngSwitchCase="'userEdit'"
      [id]="id"
      class="d-flex flex-column h-100"
    ></app-user-edit>
    <app-club-create *ngSwitchCase="'clubCreate'"></app-club-create>
    <app-club-edit *ngSwitchCase="'clubEdit'" [id]="id"></app-club-edit>
    <app-material-create *ngSwitchCase="'materialCreate'"></app-material-create>
    <app-material-edit
      *ngSwitchCase="'materialEdit'"
      [id]="id"
    ></app-material-edit>
    <app-category-create *ngSwitchCase="'categoryCreate'"></app-category-create>
    <app-category-edit
      *ngSwitchCase="'categoryEdit'"
      [id]="id"
    ></app-category-edit>
    <app-venue-create *ngSwitchCase="'venueCreate'"></app-venue-create>
    <app-venue-edit *ngSwitchCase="'venueEdit'" [id]="id"></app-venue-edit>
    <app-item-create
      class="h-100 d-flex flex-column"
      *ngSwitchCase="'itemCreate'"
    ></app-item-create>
    <app-item-edit
      class="h-100 d-flex flex-column"
      *ngSwitchCase="'itemEdit'"
      [id]="id"
    ></app-item-edit>
    <div *ngSwitchDefault>Default switch</div>
  </div>
</ds-side-panel>
