<form [formGroup]="profileForm" class="d-flex flex-column overflow-hidden">
  <div class="overflow-auto p-16">
    <ds-input-field
      name="id"
      label="ID"
      type="number"
      placeholder="Enter ID"
      required
      [invalid]="
        profileForm.controls.id.invalid && profileForm.controls.id.dirty
      "
      [value]="profileForm.value.id"
      (onChange)="updateValue($event.detail.value, 'id')"
    ></ds-input-field>
    <ds-input-field
      name="firstName"
      label="First name"
      placeholder="Enter first name"
      required
      [invalid]="
        profileForm.controls.firstName.invalid &&
        profileForm.controls.firstName.dirty
      "
      [value]="profileForm.value.firstName"
      (onChange)="updateValue($event.detail.value, 'firstName')"
    ></ds-input-field>
    <ds-input-field
      name="lastName"
      label="Last name"
      placeholder="Enter last name"
      required
      [invalid]="
        profileForm.controls.lastName.invalid &&
        profileForm.controls.lastName.dirty
      "
      [value]="profileForm.value.lastName"
      (onChange)="updateValue($event.detail.value, 'lastName')"
    ></ds-input-field>
    <ds-input-field
      name="email"
      label="Email"
      placeholder="Enter email"
      required
      [invalid]="
        profileForm.controls.email.invalid && profileForm.controls.email.dirty
      "
      [value]="profileForm.value.email"
      (onChange)="updateValue($event.detail.value, 'email')"
    ></ds-input-field>
    <ds-input-field
      name="userPrincipalName"
      label="User principal name"
      placeholder="Enter User principal name"
      required
      [invalid]="
        profileForm.controls.userPrincipalName.invalid &&
        profileForm.controls.userPrincipalName.dirty
      "
      [value]="profileForm.value.userPrincipalName"
      (onChange)="updateValue($event.detail.value, 'userPrincipalName')"
    ></ds-input-field>
    <ds-input-field
      name="organization"
      label="Organization"
      placeholder="Enter organization"
      required
      [invalid]="
        profileForm.controls.organization.invalid &&
        profileForm.controls.organization.dirty
      "
      [value]="profileForm.value.organization"
      (onChange)="updateValue($event.detail.value, 'organization')"
    ></ds-input-field>
    <ds-input-field
      name="addressLine"
      label="Addres line"
      placeholder="Enter address line"
      required
      [invalid]="
        profileForm.controls.addressLine.invalid &&
        profileForm.controls.addressLine.dirty
      "
      [value]="profileForm.value.addressLine"
      (onChange)="updateValue($event.detail.value, 'addressLine')"
    ></ds-input-field>
    <ds-input-field
      name="city"
      label="City"
      placeholder="Enter city"
      required
      [invalid]="
        profileForm.controls.city.invalid && profileForm.controls.city.dirty
      "
      [value]="profileForm.value.city"
      (onChange)="updateValue($event.detail.value, 'city')"
    ></ds-input-field>
    <!-- Hybrid filed is not working properly ATM, because it triggers onSelect event right after the initialization -->
    <!-- Also, it triggers onSelect twice every time -->
    <ds-hybrid-field
      [loadedOptions]="countries"
      name="country"
      label="Country"
      placeholder="Select country"
      noresults="Sorry, there are no results"
      required
      [value]="profileForm.value.country.value"
      (onSelect)="updateValue($event.detail.selected, 'country')"
    >
    </ds-hybrid-field>
    <ds-input-field
      name="phoneNumber"
      label="Phone number"
      placeholder="Enter phone number"
      required
      [invalid]="
        profileForm.controls.phoneNumber.invalid &&
        profileForm.controls.phoneNumber.dirty
      "
      [value]="profileForm.value.phoneNumber"
      (onChange)="updateValue($event.detail.value, 'phoneNumber')"
    ></ds-input-field>
    <ds-input-field
      name="sapId"
      label="SAP ID"
      type="number"
      placeholder="Enter SAP ID"
      required
      [invalid]="
        profileForm.controls.sapId.invalid && profileForm.controls.sapId.dirty
      "
      [value]="profileForm.value.sapId"
      (onChange)="updateValue($event.detail.value, 'sapId')"
    ></ds-input-field>
  </div>
  <div class="d-sm-flex justify-content-between p-16">
    <ds-button
      appearance="secondary"
      (click)="onReset()"
      [disabled]="!profileForm.dirty"
      >Revert changes</ds-button
    >
    <ds-button
      appearance="highlight"
      (click)="onSubmit()"
      [disabled]="profileForm.invalid || !profileForm.dirty"
      >Save</ds-button
    >
  </div>
</form>
