<header>
  <div
    class="d-flex justify-content-between align-items-center bg-primary-0 py-4 px-16"
  >
    <div class="header-block d-flex align-items-center">
      <div class="logo-block justify-content-lg-start d-flex">
        <a class="header d-flex align-items-center" routerLink="/">
          <img src="assets/img/logo.png" alt="" />
          <span class="text-white">D-SIGN</span>
        </a>
      </div>
      <nav class="justify-content-between d-flex flex-grow-1 stroke">
        <a class="mr-4" routerLink="/items" routerLinkActive="class1 class2"
          >Items</a
        >
        <a class="mr-4" routerLink="/templates">Templates</a>
        <a class="mr-4" routerLink="/projects">Projects</a>
        <a>Administration</a>
      </nav>
    </div>
    <div class="header-block d-flex justify-content-end">
      <div class="d-flex align-items-center">
        <ds-icon class="mr-24" name="action-edit" color="neutral-0"></ds-icon>
        <ds-avatar
          class="mr-8"
          type="image"
          src="https://hips.hearstapps.com/esquireuk.cdnds.net/15/37/2048x2730/2048x2730-tom-hardy-esquire-may-cover-promo-11-jpg-4c8bc653.jpg?resize=480:*"
        ></ds-avatar>
        <span class="mr-28">Test User</span>
        <ds-icon
          class="mr-24"
          name="navigation-triangle-down"
          color="neutral-0"
        ></ds-icon>
      </div>
    </div>
  </div>
  <ds-page-header page-title="Accreditations"></ds-page-header>
</header>
