/* You can add global styles to this file, and also import other style files */
a {
  text-decoration: none;
}

html,
body {
  height: 100%;
}

.cursor-pointer {
  cursor: pointer;
}

.mat-menu {
  width: 200px;

  a {
    border-bottom: 1px solid #e6e6e6;

    &:last-child {
      border-bottom: none;
    }

    &.active {
      color: var(--secondary-0);
    }
  }
}

.cursor-pointer {
  cursor: pointer;
}

// makes auto injected child element 100% width of the parrent (table) instead of its content width
.carrot-holder .sc-ds-table-header-col {
  width: 100%;
}
